.login-form .form-control {
  height: 29px;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 12px 0 var(--primary-color);
}

.login-form .login-button:hover {
  background-color: var(--primary-hover-color);
}